/* Общие стили */
body {
    font-family: 'Roboto', sans-serif; /* Используем шрифт Roboto */
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('image/talkas.jpg'); /* Фоновое изображение */
    background-size: cover; /* Заполнение фона */
    background-position: center; /* Центрируем изображение фона */
    background-repeat: no-repeat; /* Не повторяем фон */
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для основного контента */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень для блока */
}

section {
    margin-bottom: 30px; /* Отступ между секциями */
    padding: 20px;
    border-radius: 10px; /* Закругленные углы */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для секций */
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6; /* Интервал между строками */
}

/* Стили для изображений */
#about {
    text-align: center; /* Центрируем текст и изображения */
}

.image-container {
    display: flex; /* Используем flexbox для выравнивания изображений */
    justify-content: center; /* Центрируем изображения */
    margin: 20px 0; /* Отступы сверху и снизу */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Создаем ромбик */
    overflow: hidden; /* Скрываем все, что выходит за пределы ромбика */

}

.image-container img {
    width: 600px; /* Ширина изображений */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 5px; /* Закругленные углы для изображений */
    transition: transform 0.3s ease; /* Плавный переход для анимации */
    margin: 10px;
}

.image-container img:hover {
    transform: scale(6); /* Увеличение изображения при наведении */
    cursor: pointer; /* Изменение курсора на указатель при наведении */
}

/* Стили для списка активностей */
#activities ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

#activities li {
    background-color: #f0f0f0; /* Фон для пунктов списка */
    margin: 10px 0; /* Отступы между пунктами */
    padding: 10px;
    border-radius: 5px; /* Закругленные углы */
}

/* Стили для контактов */
#contact a {
    color: #007BFF; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

#contact a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для подвала */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    position: relative;
    bottom: 0;
    width: 100%;
}
